.day-01 {
  background: url(http://i.imgur.com/b9r5sEL.jpg) bottom center;
  background-size: cover;
  
  .keys {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: center;
    height: 100%;
  }

  .key {
    background: rgba(0,0,0,0.4);
    border: .4rem solid $dark;
    border-radius: .5rem;
    color: $light;
    font-size: 1.5rem;
    margin: 1rem;
    padding: 1rem .5rem;
    text-align: center;
    text-shadow: 0 0 .5rem $dark;
    transition: all .07s ease;
    width: 10rem;
  }

  .playing {
    border-color: $jscolor;
    box-shadow: 0 0 1rem $jscolor;
    transform: scale(1.1);
  }

  kbd {
    display: block;
    font-size: 4rem;
  }

  .sound {
    color: $jscolor;
    font-size: 1.2rem;
    letter-spacing: .1rem;
    text-transform: uppercase;
  }
}