.day-02 {
  background:#018DED;
  font-family:'helvetica neue';
  text-align: center;

  body {
    display:flex;
    flex:1;
    min-height: 100%;
    align-items: center;
  }

  .clock {
    width: 50vh;
    height: 50vh;
    border:10px solid white;
    border-radius:50%;
    margin:auto;
    position: relative;
    padding:2rem;
    transform: translateY(50%)
  }

  .clock-face {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(-3px); /* account for the height of the clock hands */
  }

  .hand {
    width:50%;
    height:3px;
    background: #fff;
    position: absolute;
    top:50%;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: all 0.05s;
    transition-timing-function: ease-in-out;

    &-second {
      height: 1px;
    }

    &-hour {
      height: 4px;
      border-radius: 5px;
      width: 40%;
      margin-left: 10%;
    }

    &-min {
      border-radius: 2px;        
    }
  }
}