$calendar-color: #DEEFFF;
$calendar-color-done: #E9F7F7;
$gray: #ddd;
$gray-light: #eee;
$text-color: #424750;
$text-color-light: lighten($text-color, 20%);
$color-link: #4285F4;
$light: #fff;
$dark: #000;



// day 01
$jscolor: #ffc600;








