$calendar-color: #015AA0;
$calendar-color-done: #FFF13B;
$gray: #ddd;
$gray-light: #eee;
$text-color: rgba(0,0,0,.7);
$text-color-light: rgba(0,0,0,.6);
$color-link: #4285F4;
$light: #fff;
$dark: #000;


// day 01
$jscolor: #ffc600;








